
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Merriweather:wght@300;400;700;900&family=Open+Sans:ital,wght@0,500;1,700&display=swap');
body{
    font-family: 'Ephesis', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.banner-section {
    background-image:url('../image/Banner.png') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
}
.banner-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner-description, .banner-title {
    text-align: center;
    color: #FFF;
    padding-top: 100px;
   
}

.banner-description {
    padding: 177px 530px 0px 530px;
    font-size: 32px;
    font-weight: 400;

}

.banner-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 340px;
}
.section-title {
    text-align: center;
    background-color: #FFF;
}
.title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding: 120px 468px 48px;
}
.description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 0 auto;
}
.description-info {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding: 16px auto 48px;
}
.image-title {
    width: 800px;
    height: 500px;
    margin-bottom: 120px;
}
.image-icon {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 100%;
    width: 100%;
}
.image-section {
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin: auto;
}
.image-icon-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-left: 126px;
    
}
.image-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 24px;
    margin-left: 126px;

}
.join {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 140px;
    margin-left: 158px;
    background: none;
    border: 0;
}
.image-group {
    margin: auto 70px;
}
.description-text {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}


.section-description {
    text-align: center;
    width: 1320px;
    height: 482px;
}
.text-section {
    margin: 100px 140px 48px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 100px;
}
.text {
    color: #F00;
   
}
.text-button {
    background: #F00;
    border-radius: 8px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;


}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1600px;
    height: 700px;
    margin: 100px auto;
    background: #FFF;
}

.container div {
    flex: 1 1 0%;
    
}

.formate-text {
    color: #F00;
    text-align: justify;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;

}
.formate-head {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-right:  65px; 
    padding-bottom: 22px;
}
.formate-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    width: 390px;
}
.image-circle-line {
    width: 463px;
    height: 463px;
    border-radius: 364px;
    margin: auto;
    border: 15px solid red;
    padding: 25px;
}
.text-heading {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
   
}
.new-year-text {
    padding-left: 100px;
}
.new-year-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    width: 276px;
}
.new-year-image {
    width: 140px;
    height: 140px;
    margin-top: 43px;

}
